/* Style du conteneur du carrousel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 20px;
    padding: 10px;
    background-color: #ff3b3b;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Style du carrousel lui-même */
.carousel {
    display: flex;
    overflow: hidden;
}

/* Style du conteneur des livres */
.books-container {
    display: flex;
    gap: 100px; /* Espace entre les livres */
}

/* Style des images des livres (réduction de la taille) */
.book img {
    max-width: 100px;
    height: auto;
}

/* Style des boutons de navigation du carrousel */
.carousel-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: #555;
}

.prev-btn {
    margin-right: 10px;
}

.next-btn {
    margin-left: 10px;
}

.book{
    max-width: 200px;
    max-height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.testC{
    background-color: #f0f0f0;
    width: 200px;
    height: 300px;
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 20px 0px;
   border-radius: 10px;
}

a{
    color: inherit; /* Réinitialise la couleur du texte à la valeur par défaut */
    text-decoration: none; /* Supprime la soulignement par défaut des liens */
}


/* Styles pour le conteneur du podium */
.podium-container {
    display: flex; /* Utilisez un conteneur flex pour afficher les livres côte à côte */
    justify-content: space-between; /* Répartit l'espace entre les livres */
    margin: 20px 0;/* Espacement entre le podium et le reste du contenu */
}

/* Styles pour chaque livre du podium */
.podium-book {
    flex-direction: column;
    display: flex;
    align-items: center;
}

/* Styles pour le numéro du podium */


/* Styles pour chaque livre du podium */
.podium-book img {
    width: 20%;
    height: auto;
}

/* Styles pour le titre du livre */
.podium-book h2 {
    margin: 5px 0; /* Espacement entre le titre et le numéro du podium */
}

/* Autres styles au besoin */

