/* Style du conteneur du carrousel */
.carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrage horizontal */
}

/* Style du carrousel lui-même */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Ajustez la largeur selon vos besoins */
}

/* Style du conteneur des livres */
.books-container {
    display: flex;
    gap: 10px; /* Espace entre les livres */
    justify-content: space-between; /* Espacement uniforme entre les livres */
    align-items: center; /* Aligner les images à la même hauteur */
    width: 100%; /* Ajustez la largeur selon vos besoins */
    overflow: auto; /* Ajoute une barre de défilement horizontal si nécessaire */
}

/* Style des images des livres (réduction de la taille) */
.book img {
    max-width: 150px; /* Ajustez la taille maximale selon vos besoins */
    max-height: 200px; /* Ajustez la hauteur maximale selon vos besoins */
}

/* Style des boutons de navigation du carrousel */
.carousel-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: #555;
}

.prev-btn {
    margin-right: 10px; /* Ajustez la marge à droite pour le bouton précédent */
}

.next-btn {
    margin-left: 20px !important; /* Ajustez la marge à gauche pour le bouton suivant */
}

/* Style pour les images des livres */
.book {
    max-width: 250px;
    max-height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px; /* Abaissement des titres des livres */
}

/* Style pour un élément testC */
.testC {
    /* Suppression de la couleur de fond */
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

/* Style pour les liens */
a {
    color: inherit; /* Réinitialise la couleur du texte à la valeur par défaut */
    text-decoration: none; /* Supprime la soulignement par défaut des liens */
}



/* Style pour l'image de la catégorie "Best Seller Of The Month" */
.large-image {
    display: block;
    margin: 0 auto; /* Centre horizontalement */
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
    max-height: 500px; /* Ajustez la hauteur maximale de l'image */
}

.podium-container {
    display: flex; /* Utilisez un conteneur flex pour afficher les livres côte à côte */
    justify-content: space-between; /* Répartit l'espace entre les livres */
    margin: 20px 0;/* Espacement entre le podium et le reste du contenu */
}

/* Styles pour chaque livre du podium */
.podium-book {
    flex-direction: column;
    display: flex;
    align-items: center;
}

/* Styles pour le numéro du podium */


/* Styles pour chaque livre du podium */
.podium-book img {
    width: 20%;
    height: auto;
}

/* Styles pour le titre du livre */
.podium-book h2 {
    margin: 5px 0; /* Espacement entre le titre et le numéro du podium */
}

/* Autres styles au besoin */


