/* Style du conteneur du carrousel */
.carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrage horizontal */
}

/* Style du carrousel lui-même */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Ajustez la largeur selon vos besoins */
}

/* Style du conteneur des livres */
.books-container {
    display: flex;
    gap: 10px; /* Espace entre les livres */
    align-items: center; /* Aligner les images à la même hauteur */
    justify-content: center; /* Centrage horizontal des livres */
    width: 100%; /* Ajustez la largeur selon vos besoins */
    overflow: auto; /* Ajoute une barre de défilement horizontal si nécessaire */
}

/* Style des images des livres (réduction de la taille) */
.book img {
    max-width: 150px; /* Ajustez la taille maximale selon vos besoins */
    max-height: 200px; /* Ajustez la hauteur maximale selon vos besoins */
}

/* Style des boutons de navigation du carrousel */
.carousel-btn {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: #555;
}

.prev-btn {
    margin-right: 10px; /* Ajustez la marge à droite pour le bouton précédent */
}

next-btn {
    margin-left: 20px !important; /* Ajustez la marge à gauche pour le bouton suivant */
}

/* Style pour les images des livres */
.book {
    max-width: 250px;
    max-height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px; /* Abaissement des titres des livres */
}

/* Style pour un élément testC */
.testC {
    /* Suppression de la couleur de fond */
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

/* Style pour les liens */
a {
    color: inherit; /* Réinitialise la couleur du texte à la valeur par défaut */
    text-decoration: none; /* Supprime la soulignement par défaut des liens */
}
