ul{
	justify-content: space-between;
	text-align: center;
}

/* menu.css */  

.menu-body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style-type: none;
    background-color: #27262c;
    margin: 0; /* Ajoutez cette ligne pour supprimer la marge */
}

.menu-body ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0; /* Ajoutez cette ligne pour supprimer la marge */
}

.menu-body li {
    margin: 0 10px;
    padding: 5px;
    position: relative;
}

.menu-body a {
    text-decoration: none;
    color: #F9F8FD;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s;
}

.menu-body a:hover {
    color: #FFA91B;
}

li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
	min-width: 80px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
<<<<<<< HEAD

/* Media Query pour les téléphones */
@media screen and (max-width: 768px) {
    .menu-body ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-body li {
        margin: 10px 0;
        padding: 5px;
        text-align: center;
    }

    .menu-body li:before {
        display: none;
    }
}
=======
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
>>>>>>> 7f6f4de12c832cf3e373669a474120ab711d8abb
