body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.livre-card {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}
.livre-card img {
    width: 200px;
    height: auto;
    border: none;
}
.livre-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.livre-rating {
    margin-top: 5px;
}
.livre-card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.search-bar {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    margin-bottom: 50px;
}

.book {
    width: 20%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.book img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}