body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#book-details {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
#book-image {
    max-width: 200px;
    margin-right: 20px;
}
#book-title {
    font-size: 24px;
    margin-bottom: 10px;
}
#star-ratings {
    margin-bottom: 10px;
}
#book-description {
    flex: 1;
    margin-bottom: 10px;
}
#book-price {
    font-weight: bold;
    margin-bottom: 10px;
}
#add-to-cart,
#buy-now {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.user-rating {
    margin-bottom: 10px;
}
.user-actions {
    display: flex;
    justify-content: space-between;
}
.useful,
.not-useful {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#product-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}
#product-details h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#product-details ul {
    list-style: none;
    padding: 0;
}
#product-details ul li {
    margin: 5px 0;
}

.listee{
color: black;
}

